.nav {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(235, 141, 18);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  font-family: 'Josefins Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.topList {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.topListItem {
  margin-right: 20px;
}

.topListItem a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.topListItem a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.topRight {
  display: flex;
  align-items: center;
}

.fa-search {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.fa-search:hover {
  color: rgba(255, 255, 255, 0.8);
}
