.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Adjust margin to move search bar to the middle of the page */
}

.search-bar select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 200px;
  color: #333; /* Change text color */
  background-color: #ece2e8;
  appearance: none; /* Remove default dropdown arrow */
}

/* Style the dropdown arrow */
.search-bar select::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Avoid interfering with select functionality */
}
input[type='text'] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  outline: none; /* Remove outline */
}

select {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  outline: none; /* Remove outline */
  background-color: #fff; /* White background */
}

.filtered-blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.blog-card h2 {
  margin-bottom: 5px;
}

.blog-card p {
  margin-bottom: 10px;
}
