.background-container {
  height: 100vh;
  background-image: url('https://media.istockphoto.com/id/1443624778/photo/beautiful-young-black-woman-outdoors-in-the-city.jpg?s=612x612&w=0&k=20&c=jYkXZMN3YB-hlMJ96GO_XPZRDYQBuBgJK3_I16g-U1o=');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
}

/* Adjustments for the header */
.header {
  font-size: 2rem;
  color: #8d5492;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Lora", serif;
  color: #88387d;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: inherit;
   display: flex;
  flex-direction: column;
  
}

/* Rest of the CSS remains unchanged */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

label {
  margin-right: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-user {
  display: flex;
  flex-direction: column;
}
